body {
    margin: 15px;
    background-color: #efefef;
}
h1 {
    background-color: #20e1c6;
    font-size: 40px;
    text-align: center;
}
h2 {
    color: #004953;
}
h3 {
    color: #004953;
    font-size: 23px;
}
.basic {
    background-color: #20e1c6;
    padding: 5px;
}
.description {
    background-color: #ffe4e1;
    padding: 10px;
}
.second {
    margin-top: 20px;
}
.kametann {
    background-color: #20e1c6;
    padding: 10px;
}
.memogaki {
    background-color: #ffe4e1;
    padding: 10px;
}
img {
    width: 65%;
    width: 65%;
    margin: 10px;
}
